<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/business-and-finance-1-4/130/14-512.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css">
    <title>Shopkeepers - Apni Dukan</title>
</head>
<body>
    <style>
        *{
            font-family: 'Lemon', cursive;
        }
        body{
            background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Lemon', cursive;
        }
        .draftInfo{
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }
        .draftInfo1{
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            max-width: 100%;
        }
        #myInput {
            box-sizing: border-box;
            background-image: url('');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            background-color: white;
            border: none;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-family: 'Lemon', cursive;">Home</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto">
                    <%if(!currentUser){%>
                        <li>
                            <a href="/contact" style="font-family: 'Lemon', cursive;">Contact Us</a>
                        </li>
                        <li><a href="/login" style="font-family: 'Lemon', cursive;">Login</a></li>
                        <li>
                            <a href="/register" style="font-family: 'Lemon', cursive;">Sign Up</a>
                        </li>
                    <%}else{%>
                        <% if (currentUser.isShopkeeper == false) { %>
                            <li>
                                <a href="/contact" style="font-family: 'Lemon', cursive;">Contact Us</a>
                            </li>
                            <li>
                                <a href="/shopkeepers" style="font-family: 'Lemon', cursive;"> See your Local Shopkeepers</a>
                            </li>
                            <li>
                                <a href="/buyer/drafts/carts" style="font-family: 'Lemon', cursive;">Drafts</a>
                            </li>
                            <li>
                                <a href="/buyer/posts/carts" style="font-family: 'Lemon', cursive;">Posted Carts</a>
                            </li>
                        <% } %>
                        <li>
                            <a href="" style="font-family: 'Lemon', cursive;">Signed in as <%=currentUser.username%></a>
                        </li>
                        <li>
                            <a href="/logout" style="font-family: 'Lemon', cursive;">Logout</a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <div style="border: 1px solid #ddd; margin: 10px; border-radius: 10px; padding-bottom: 10px; padding-right: 10px; padding-left: 10px">
        <h2 align="center">Search User: </h2>
        <div class="draftInfo1" style="background-color: white;">
            <form action="/users/id" method="post">
                <input type="text" class="form-control" id="myInput" placeholder="Search By User_ID (ex. 602233e0a432d30cbc63bf71)" name="id">
            </form>
        </div>
    </div><hr>
    <% for( let i = 0; i < shopkeepers.length; i++ ) { %>
        <div class="col-lg-3">
            <div class="draftInfo" style="background-color: white;" align="center">
                <p style="font-size:large;"><%= shopkeepers[i].fullname %> </p>
                <p style="font-size:small;"><em style="color: #a1a1a1">#<%= shopkeepers[i].id %></em></p>
                <a href="tel:<%= shopkeepers[i].phone %>" class="btn btn-primary btn-block">Call <%= shopkeepers[i].fullname %></a>
                <hr>
                <p style="font-size:small; border: 1px solid #a1a1a1; padding: 10px; border-radius: 10px;">User: <%= shopkeepers[i].username %></p>
                <a href="/users/<%= shopkeepers[i].id %>" class="btn btn-primary btn-md btn-block">See Profile</a>
            </div>
        </div>         
    <% } %>
</body>
</html>