<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/business-and-finance-1-4/130/14-512.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css">
    <title><%= drafts.cartTitle %>  | Apni Dukan</title>
</head>
<body>
    <style>
        *{
            font-family: 'Lemon', cursive;
        }
        body{
            background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
                /* Full-width input fields */
                input[type=text],
        input[type=password],
        input[type=email] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        select {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }


        /* Add a background color when the inputs get focus */
        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        button:hover {
            opacity: 1;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
        }

        /* Float cancel and signup buttons and add an equal width */
        .cancelbtn,
        .signupbtn {
            float: left;
            width: 50%;
        }

        /* Add padding to container elements */
        .container {
            padding: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: #474e5dc4;
            padding-top: 50px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
        }

        /* Style the horizontal ruler */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 40px;
            font-weight: bold;
            color: #f1f1f1;
        }

        .close:hover,
        .close:focus {
            color: #f44336;
            cursor: pointer;
        }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .menu {
            display: none;
            background-color: #c0bfbfcc;
            width: auto;
            float: right;
            height: 40px;
            margin-top: 0px;
            padding: 10px;
            margin-bottom: 0px;
            border-radius: 5px;
            border: none;
        }

        .menuContainer {
            display: none;
            padding-left: 20px;
        }

        .menuContainer li {
            list-style: none;
        }

        /* Change styles for cancel button and signup button on extra small screens */
        @media screen and (max-width: 300px) {

            .cancelbtn,
            .signupbtn {
                width: 100%;
            }

        }
    </style>
    <nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-family: 'Lemon', cursive;">Home</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto">
                    <%if(!currentUser){%>
                        <li><a href="/login" style="font-family: 'Lemon', cursive;">Login</a></li>
                        <li>
                            <a href="/register" style="font-family: 'Lemon', cursive;">Sign Up</a>
                        </li>
                    <%}else{%>
                        <% if (currentUser.isShopkeeper == false) { %>
                            <li>
                                <a href="/carts/new" style="font-family: 'Lemon', cursive;">New Cart</a>
                            </li>
                            <li>
                                <a href="/buyer/drafts/carts" style="font-family: 'Lemon', cursive;">Drafts</a>
                            </li>
                            <li>
                                <a href="/buyer/posts/carts" style="font-family: 'Lemon', cursive;">Posted Carts</a>
                            </li>
                        <% } %>
                        <li>
                            <a href="" style="font-family: 'Lemon', cursive;">Signed in as <%=currentUser.username%></a>
                        </li>
                        <li>
                            <a href="/logout" style="font-family: 'Lemon', cursive;">Logout</a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <%if(!error.length == 0){%>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <p><%=error%></p>
            </div>
        </div>
    <%}%>
    <div class="container" align="center" style="background-color: white; border-radius: 10px;">
       <h1><%= drafts.cartTitle %> </h1>
       <hr>
       <p><%= drafts.cartDescription %> </p>
       <hr>
       <h3>Cart Items</h3>
       <div align="left">
           <% for( let i = 0; i < drafts.groceryName.length; i++ ) { %>
                <p><%= drafts.groceryName[i] %> - <%= drafts.groceryQuantity[i] %> <%= drafts.groceryUnit[i] %></p>
           <% } %>
           <hr>
           <a href="/buyer/drafts/carts/<%= drafts._id%>/edit"><button class="btn btn-warning btn-lg">Edit</button></a>
                <button class="btn btn-danger btn-lg"onclick="document.getElementById('id02').style.display='block'; document.getElementById('form1').setAttribute('action', '/buyer/drafts/carts/<%= drafts._id%>/remove?_method=DELETE'); document.getElementById('removeCart').innerHTML='Do you really want to permanently remove the cart <%= drafts.cartTitle%>?';">Remove</button>

                <div id="id02" class="modal" align="center">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <form class="modal-content" id="form1" method="POST">
                        <div class="container">
                            <h1>Remove?</h1>
                            <p id="removeCart"></p>
                            <hr>
                            <div class="clearfix">
                                <button type="button"
                                    onclick="document.getElementById('id02').style.display='none'"
                                    class="signupbtn">Cancel</button>
                                <button type="submit" class="cancelbtn">Remove Cart</button>
                            </div>
                        </div>
                    </form>
                </div>
           <form style="display: inline;" action="/buyer/posts/carts/<%= drafts._id%>/chooseuser" method="POST">
                <button class="btn btn-success btn-lg">Post Cart</button>
           </form><br><br>
       </div>
    </div>
    <script>
        var login = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == login) {
                login.style.display = "none";
            }
        }
    </script>
</body>
</html>