<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/business-and-finance-1-4/130/14-512.png" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css">
    <title><%= grocery.cartTitle %> | Apni Dukan</title>
</head>

<body>
    <style>
        * {
            font-family: 'Lemon', cursive;
        }

        body {
            background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-family: 'Lemon', cursive;">Home</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto">
                    <%if(!currentUser){%>
                    <li><a href="/login" style="font-family: 'Lemon', cursive;">Login</a></li>
                    <li>
                        <a href="/register" style="font-family: 'Lemon', cursive;">Sign Up</a>
                    </li>
                    <%}else{%>
                    <% if (currentUser.isShopkeeper == false) { %>
                    <li>
                        <a href="/carts/new" style="font-family: 'Lemon', cursive;">New Cart</a>
                    </li>
                    <li>
                        <a href="/buyer/drafts/carts" style="font-family: 'Lemon', cursive;">Drafts</a>
                    </li>
                    <li>
                        <a href="/buyer/posts/carts" style="font-family: 'Lemon', cursive;">Posted Carts</a>
                    </li>
                    <% } %>
                    <li>
                        <a href="" style="font-family: 'Lemon', cursive;">Signed in as <%=currentUser.username%></a>
                    </li>
                    <li>
                        <a href="/logout" style="font-family: 'Lemon', cursive;">Logout</a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" align="center" style="background-color: white; border-radius: 10px;">
       <h1><%= grocery.cartTitle %> </h1>
                    <hr>
                    <p><%= grocery.cartDescription %> </p>
                    <hr>
                    <h3>Cart Items</h3>
                    <div align="left">
                        <table>
                            <tr>
                                <th>Grocery</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <% if (grocery.groceryBill != 0) { %>
                                    <th>Rate</th>
                                    <th>Price</th>
                                <% } %> 
                            </tr>
                            <% for( let i = 0; i < grocery.groceryName.length; i++ ) { %>
                            <tr>
                                <td>
                                    <p><%= grocery.groceryName[i] %></p>
                                </td>
                                <td>
                                    <p><%= grocery.groceryQuantity[i] %></p>
                                </td>
                                <td>
                                    <p><%= grocery.groceryUnit[i] %></p>
                                </td>
                                <% if (grocery.groceryBill != 0) { %>
                                    <td>
                                        <p>&#8377;
                                            <%=parseInt(grocery.groceryBill[i]) /  parseInt(grocery.groceryQuantity[i])%>
                                            per <%= grocery.groceryUnit[i] %> </p>
                                    </td>
                                    <td>
                                        <p>&#8377;<%=grocery.groceryBill[i] %></p>
                                    </td>
                                <% } %>
                            </tr>
                            <% } %>
                            <% if (grocery.groceryBill != 0) { %> 
                                <tr>
                                    <td>
                                        <p>Total: </p>
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        <p>&#8377;<%= total %></p>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
                        <hr>
                        <h1>Status</h1>
                        <% if (grocery.isCompleted == false && grocery.groceryBill != 0) { %>
                            <p>Your order will be delivered in <b><%= grocery.deliver %>*!</b> </p>
                        <% } else { %>
                            <p>Your order is completed.</p>
                        <% } %> 
                        <hr>
                        <form style="display: inline;"
                            action="/buyer/posts/carts/<%= grocery._id%>/remove?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-lg">Remove</button><br><br>
                        </form>
                    </div>
            </div>
</body>

</html>